<div class="row mb-2">
    <div class="col-4">
        <div class="form-group row">
            <label for="category" class="col-3 col-form-label">Category:</label>
            <div class="col-9">
                <select class="form-select" aria-label="Default select example" name="category" [(ngModel)]="params.filter.category" (change)="onCategoryChanged()">
                    <option selected>Open this select menu</option>
                    <option value="">All</option>
                    <option value="cat">Cats</option>
                    <option value="dog">Dogs</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-3 ms-4 me-4 mt-2">
        <div class="form-group row">
            <div class="col-3">
                Sex:
            </div>
            <div class="form-check col-3">
                <input type="radio" class="form-check-input" id="any" name="optradio" value="any" (change)="onSexChanged('')">
                <label class="form-check-label" for="any">Any</label>
            </div>
            <div class="form-check col-3">
                <input type="radio" class="form-check-input" id="male" name="optradio" value="male" (change)="onSexChanged('m')">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check col-3">
                <input type="radio" class="form-check-input" id="female" name="optradio" value="female" (change)="onSexChanged('f')">
                <label class="form-check-label" for="female">Female</label>
            </div>

        </div>
    </div>

    <div class="col-4 ms-4">
        <div class="form-group row">
            <label for="category" class="col-3 col-form-label">Sort by:</label>
            <div class="col-9">
                <select class="form-select" aria-label="Default select example" name="category" [(ngModel)]="params.sort" (change)="onSortParamChanged()">
                    <option selected>Open this select menu</option>
                    <option value="">None</option>
                    <option value="name">Name</option>
                    <option value="size">Size</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    
    <div class=" card col-3 p-0 ms-3" style="width: 16rem;" *ngFor="let pet of petList" [routerLink]="[pet._id]">
        <img src="{{pet.image}}" alt="Slika ljubimca" class="card-img-top" height="300px" >
        <div class="row card-body">
            <h4 class="card-title text-center">{{pet.name}}</h4>
            <div class="col-6">
                <p class="card-text">Category: {{pet.category}}</p> 
                <p>Size:  {{pet.size_kg}}</p>
            </div>
            <div class="col-6">
                <p>Sex: {{pet.sex == 'f' ? 'Female' : 'Male'}}</p> 
            </div>
        </div>
        
    </div>
    
</div>